<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaohu.pdfdemo">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pdfdemo">


        <activity
            android:name=".activity.OutlineActivity"
            android:screenOrientation="portrait" />

        <!--<activity-->
        <!--android:name=".activity.BasePDFActivity"-->
        <!--android:screenOrientation="portrait" />-->

        <!--<activity-->
        <!--android:name=".activity.MuPDFActivity"-->
        <!--android:screenOrientation="portrait" />-->

        <activity
            android:name=".activity.MoreSetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OutlineActivity"
            android:screenOrientation="portrait" />

        <!--<activity-->
        <!--android:name=".activity.BasePDFActivity"-->
        <!--android:screenOrientation="portrait" />-->

        <!--<activity-->
        <!--android:name=".activity.MuPDFActivity"-->
        <!--android:screenOrientation="portrait" />-->

        <activity
            android:name=".activity.MoreSetActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>